body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.2 !important;
  font-family: 'Lato-Regular' !important;
}
/*common css properties*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato-Black';
}
.btn.focus, .btn:focus {
  box-shadow: none !important;
}
.form-control:focus {
  box-shadow: none !important;
  border: none;
  outline: none !important
}
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
a, a img, a:active, a:focus, a:visited, button:focus, button:visited {
  border: 0;
  outline: 0;
  /* color: #5e5e5e; */
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0.1s;
  -moz-transition: all 0.3s ease 0.1s;
  -ms-transition: all 0.3s ease 0.1s;
  -o-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s;
}

img {
  max-width: 100%;
}
.btn-danger.realEsatatebtn {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  padding: 7px 38px;
  margin-top: 30px;
  text-transform: uppercase;
  font-family: 'Lato-Black';
  letter-spacing: 0.5px;
  font-size: 13px;
  background-color: #bd2130;
  border: solid 1px #b21f2d;
}
/*common css properties*/
.topbanner {
  background-image: url(../images/top_banner/topbanner.jpg);
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/*navbar*/
/*navbar*/
.lh-header nav li.has-subitems {
  position: relative;
}
.navbar-brand img {
  max-width: 150px;
}
.lh-main {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.dropdown-toggle::after {
  display: none;
}
/*Kp*/
.lh-header nav li {
  text-transform: uppercase;
  margin: auto 30px;
}
.lh-header nav a {
  font-family: 'Lato-Bold';
  color: #000;
}


.navbar-expand-lg .navbar-nav .nav-link {
  padding-right:0 !important;
  padding-left:0 !important;
}


.lh-header nav .contact-button a.contact-anchor {
  padding: 4px 21px;
  background: #ac1a2f;
  color: #fff;
  text-transform: uppercase;
  border-radius: 20px;
  text-decoration: none;
  font-size: 14px;
  
}
/*Kp*/
.lh-header nav .has-subitems:hover .dropdown-menu {
  display: block;/* margin-top: 0;  */
}
.lh-header nav .dropdown-menu {
  min-width: 301px;
  top: 34px;
  min-width: 301px;
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  border: none;
  padding: 0;
}
.lh-header nav .dropdown-menu a {
  padding: 15px 30px;
  display: block;
}
.lh-header nav .dropdown-menu a {
  border-top: transparent;
  border-bottom: 1px solid #ccc;
}
.lh-header nav .dropdown-menu a:first-child {
  margin-top: 28px;
  border-top: none;
}
.lh-header nav .dropdown-menu a:last-child {
  border-bottom: none;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}
/* Style the links inside the navigation bar */
.lh-header nav > div > ul > li > a {
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.lh-header nav > div > ul > li > a:hover {
  border-bottom: 3px solid #ac1a2f;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.lh-header nav > div > ul > li > a.active {
  border-bottom: 3px solid #ac1a2f;
}

/* r */
.lh-header nav .dropdown-menu a{ font-size: 14px; text-decoration:none;}
.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/* r */

.masthead {
  height: 100vh;
  min-height: 500px;
  background: url('../images/home-banner.jpg') no-repeat top center;
  background-size: 100%;
}
.lh-body {
  min-height: 500px;
}
/* footer CSS */
.myfooter {
  color: #000;
  padding-top: 4rem;
}
.tnc-text a {
  color: #fff;
}
.tnc-text a:hover {
  text-decoration: none;
}
hr.divider {
  background: #c8352c;
}
/* footer css end */
/*newsletter*/
.newlatterreal {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 474px;
}

/* r */
.order-2 {
  order: 1 !important;
}
/* r */


.pad80 {
  padding: 80px 0;
}
.pad95 {
  padding: 95px 0;
}
.mar50 {
  margin-top: 50px;
}
.marbtm50 {
  margin-bottom: 50px;
}
.newlatterreal h3 {
  color: #fff;
  font-size: 83px;
  font-family: 'Lato-Black';
}
.newlatterreal p {
  color: #fff;
  font-size: 17px;
   overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}
.newlatterreal .form-control {
  padding: 23px 15px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 2px 16px 0px #00000073 !important;
  margin-top: 30px;
}
/*newsletter*/

/*loaction*/
.event_section {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 499px;
  border-radius: 10px 10px 0px 0px;
}
.pad40 {
  padding: 40px 0;
}
.location_section h1 {
  font-size: 30px;
  color: #242424;
  font-family: 'Lato-Black';
  font-size: 35px;
}
.location_section p {
  width: 500px;
  margin-top: 10px;
  color: #1e1e1e;
  font-size: 18px;
  max-width: 100%;
   overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}
.location_section {
  margin-bottom: 20px;
}
.borderbtm {
  height: 3px;
  background: #d4352f;
  display: block;
  width: 58px;
}
.locationgallery {
  position: relative;
}
.locationgallery img {
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #676767;
}
.location_name {
 position: relative;
    bottom: 50px;
    background-color: #c8352b;
    padding: 25px 30px 25px 30px;
    width: 77%;
    right: 0;
    border-radius: 8px;
    color: #fff !important;
    transform: translate(-50%, -2%);
    text-align: center;
    box-shadow: 1px 3px 5px -2px #444444;
    font-size: 22px;
    font-family: 'Lato-Black';
    left: 50%;
    display: block;
    text-transform: capitalize;
}
.location_name h3 {
  font-size: 22px;
  font-family: 'Lato-Black';
}
.event_section h4 {
  font-size: 3.7em;
  color: #fff;
  font-family: 'Lato-Black';
}
.event_section p {
  color: #fff;
  max-width: 100%;
  width: 423px;
}
.Featured_Event {
  background-color: #ececec;
  padding: 50px 0 0;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 2px 3px 1px #c1c1c1;
}
.Featured_Event img {
  border-radius: 17px;
}
.Featured_Event h5 {
  font-size: 22px;
  font-family: 'Lato-Black';
  color: #353535;
}
.event_all_details span {
  color: #ca3426;
  font-family: 'Lato-Black';
  font-size: 17px;
}
.event_all_details p {
  font-size: 16px;
  margin-bottom: 7px;
  color: #343434;
}
.event_all_details {
  margin: 15px 0;
}
.event_details .btn-danger.realEsatatebtn {
  margin-top: 10px;
  box-shadow: 0px 0px 13px -2px #353535;
}
.btn-danger.realEsatatebtn.newsall {
  margin-top: 20px;
}
/*question*/
.question_realEstate {
  background-color: #c8352b;
  box-shadow: 0px 0px 9px -1px #4e4e4e;
  border-radius: 10px;
}
.question_realEstate img {
  border-radius: 0px 10px 10px 0;
}
.questionsection {
  padding: 30px 142px 0 95px;
  color: #fff;
  height: 100%;
}
.questionsection h6 {
  font-size: 3em;
  color: #fff;
  font-family: 'Lato-Black';
}
.btn-danger.realEsatatebtn.question {
  background-color: #fff;
  color: #c8352c;
  box-shadow: 1px 1px 11px -1px #383838;
}
/*footer*/
.footer-copyright {
  background-color: #c8352c;
  padding-top: 3px;
  padding-bottom: 3px;
}
.myfooter .navbar-brand {
  height: 80px;
}
.footer-copyright {
  color: #fff;
  float: left;
  width: 100%;
  min-height: 80px;
  line-height: 80px;
  font-family: 'Lato-bold';
  font-size: 16px;
}
.copy-text span {
  font-family: 'Lato-regular';
  font-size: 18px;
}
.tnc-text, .copy-text {
  float: left;
}
.tnc-text span {
  margin: 0 15px;
}
.footerrealsatate {
  border-top: 1px solid #c8352c;
  padding: 40px 0;
}
.social-section {
  padding-top: 10px;
}
.social-section ul li {
  display: inline;
  padding: 0 15px 0 0;
}
.social-section ul li a {
  color: #c8352c;
  text-decoration: none;
  font-size: 25px;
}
.footerrealsatate .social-section ul li a {
  font-size: 30px;
  margin-right: 38px;
}
.footerrealsatate .social-section ul li {
  padding: 0;
}
.footerrealsatate .footerdetails li a {
  font-size: 18px;
  color: #424242;
  text-decoration: none;
  display: block;
  line-height: 23px
}
.footerrealsatate h6 {
  color: #c8352c;
  font-size: 21px;
  font-family: 'Lato-Black';
  text-transform: uppercase;
}
.footerdetails {
  margin-top: 20px;
}
/*topslider*/
#realEstateslider .carousel-caption {
  position: absolute;
  bottom: 0;
  left: 14%;
  z-index: 10;
  color: #fff;
  text-align: left;
  top: 34%;
  right: auto;
  padding-top: 0;
}
#realEstateslider .carousel-caption h1 {
  font-size: 5em;
}
#realEstateslider .carousel-caption p {
  width: 501px;
  margin: 0;
  max-width: 100%;
     overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}
.carousel-caption .welcome {
  font-size: 47px;
  font-family: 'Lato-Italic';
}
.carousel-control-next, .carousel-control-prev {
  width: 3% !important;
}
.carousel-control-next-icon {
  background-image: url(../images/rightarrow.png) !important;
}
.carousel-control-prev-icon {
  background-image: url(../images/leftarrow.png) !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 60px !important;
  height: 46px !important;
  background: no-repeat 50%/100% 100%;
}
#realEstateslider .btn-danger.realEsatatebtn {
  margin-top: 40px;
}
/*new event*/
#realEstateslider .carousel-caption.newseventslide {
  left: 0;
  right: 0;
}
#realEstateslider .carousel-caption.newseventslide h1 {
  font-size: 3.8em;
}
.social-section.social {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 0;
  color: #fff;
}
.social.social-section ul li a {
  color: #fff;
  margin-right: 5px;
}

.newsseventall {
  padding: 50px 0;
}
.newseventfulldetails h5 {
  margin-top: 40px;
  font-size: 45px;
  color: #414042;
  margin-bottom: 30px;
}
.newsseventall p {
  color: #636363;
  font-size: 15px;
  line-height: 1.5;
}
/*Location page*/

/*Location-first section*/

.town-center {
  padding: 40px 0;
}
.town-center-scection {
  background: #ebebeb;
  width: 100%;
  border-radius: 15px;
  padding: 45px;
  /* min-height: 100%; */
  box-shadow: 8px 4px 11px -2px #a7a7a7;
}
.town-center-scection h3 {
  font-family: 'Lato-Heavy';
  font-size: 35px;
  max-width: 234px;
  width: 100%;
  text-transform: capitalize;
  color: #000000cc;
}
.town-center-scection p {
  line-height: 1.5;
  font-size: 15px;
  color: #000000ab;
  font-family: 'Lato-Regular';
     overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 7;
-webkit-box-orient: vertical;
}
.location-direction {
  background: #c8352c;
  width: 100%;
  border-radius: 15px;
  padding: 45px;
  /* min-height: 365px; */
  box-shadow: 8px 4px 11px -2px #a7a7a7;
}
.location-direction h3 {
  font-family: 'Lato-Heavy';
  font-size: 35px;
  max-width: 271px;
  width: 100%;
  text-transform: capitalize;
  color: #FFF;
}
.location-direction h5 {
  font-family: 'Lato-Black';
  font-size: 13px;
  width: 100%;
  text-transform: capitalize;
  color: #FFF;
  padding: 0;
  margin: 0;
}
.address-section {
  padding-top: 40px;
}
.location-drive {
  padding: 20px 0 0 0;
  margin: 0;
}
.location-drive h3 {
  font-family: 'Lato-Heavy';
  font-size: 13px;
  width: 100%;
  text-transform: capitalize;
  color: #FFF;
}
.location-direction p {
  font-size: 14px;
  width: 100%;
  text-transform: capitalize;
  color: #FFF;
  padding: 0;
  margin: 0;
   overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}
.contact-scection {
  background: #ebebeb;
  /* height: 200px; */
  width: 100%;
  border-radius: 15px;
  padding: 45px;
  min-height: 365px;
  box-shadow: 8px 0px 11px -2px #a7a7a7;
}
.contact-scection h3 {
  font-family: 'Lato-Heavy';
  font-size: 35px;
  max-width: 271px;
  width: 100%;
  text-transform: capitalize;
  color: #000000cc;
}
.contact-scection h5 {
  font-family: 'Lato-Black';
  font-size: 15px;
  width: 100%;
  text-transform: capitalize;
  color: #000000cc;
  padding: 0;
  margin: 0;
}
.contact-scection p {
  font-size: 14px;
  width: 100%;
  text-transform: capitalize;
  color: #000000cc;
  padding: 0;
  margin: 0;
}
.retail-section {
  padding-top: 20px;
}
.fa-rotate-263 {
  -ms-transform: rotate(263deg);     /* Internet Explorer 9 */
  -webkit-transform: rotate(263deg); /* Chrome, Safari, Opera */
  transform: rotate(263deg);
  color: #c8352c;
  margin-right: 10px;        /* Standard syntax */
  font-size: 20px !important;
  line-height: 33px !important;
}
/*Location-first section End*/


/*Location-second section */
.location-banner-section {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.location-banner-section h2 {
  color: #fff;
  font-size: 30px;
  font-family: 'Lato-Black';
    overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
}
.location-banner-section p {
  color: #fff;
  font-size: 14px;
  overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;

}
.store-location_section {
  padding-top: 20px;
}
.location_section h1 {
  font-size: 30px;
  color: #242424;
  font-family: 'Lato-Black';
}
.location_section p {
  width: 45%;
  margin-top: 10px;
  color: #1e1e1e;
  font-size: 17px;
  font-family: 'Lato-Regular';
   overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}
.location_section {
  margin-bottom: 20px;
}
.borderbtm {
  height: 3px;
  background: #d4352f;
  display: block;
  width: 58px;
}
.text-spn {
  font-family: 'Lato-Bold';
  color: #c8352c;
  font-size: 18px;
}
.filter-section {
  padding-top: 20px;
}
.filter-section h3 {
  color: #333333;
  font-family: 30px;
  font-family: 'Lato-Black';
  text-transform: capitalize;
}
/* kp 25/3/19 */
.filter-section small {
  color: #333333;
  font-size: 10px;
  text-transform: capitalize;
  margin-left: 5px;
  font-family: 'Lato-Regular';
  vertical-align: middle;
}
.para-filter-box p{
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.filter-btn-section {
  /* padding: 10px 0; */
}

.filter-sec-wrapper{
  margin: 0 0 30px 0;
}


/*Style for the first level menu bar*/
ul.custum-dd{
  position: relative;;

  
}

ul.custum-dd > li{
    background-color: #bd2130;
    border: solid 1px #b21f2d;
    display: inline-block;
    display: inline-block;
    list-style-type: none;
    position: relative;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 8px;
    margin-right: 10px;
    box-shadow: 9px 1px 25px -6px #a7a7a7;
}

ul.custum-dd label{
position: relative;
    display: block;
    padding: 5px 42px 5px 26px;
    margin-bottom: 0;
    transition: background 0.3s;
    cursor: pointer;
    font-size: 15px;
    color: #FFF;
    letter-spacing: 0.5px;
    width: 161px;
    text-align: center;
}
ul.custum-dd label i{
    font-size: 20px;
    position: absolute;
    top: 3px;
    -webkit-transition: -webkit-transform .3s ease-in;
    -ms-transition: -ms-transform .3s ease-in;
    transition: transform .3s ease-in;
    text-align: center;
    margin-left: 10px;
}


ul.custum-dd input:checked ~ label i{
  transform: rotate(-180deg);
}
/*hide the inputs*/
ul.custum-dd input{display:none}

/*show the second levele menu of the selected voice*/
ul.custum-dd input:checked ~ ul.submenu{
  max-height:300px;
  transition:max-height 0.5s ease-in;
}


/*style for the second level menu*/
ul.custum-dd ul.submenu{
  max-height:0;
  padding:0;
  overflow:hidden;
  list-style-type:none;
  background:#bd2130;
  box-shadow: 9px 1px 25px -6px #a7a7a7;
  transition:max-height 0.5s ease-out;
  position:absolute;
  min-width:100%;
  margin-top: 3px;
  border-radius: 8px;
  z-index: 9;
}



ul.custum-dd ul.submenu li a{
  display:block;
  padding:12px;
  color:#ddd;
  text-decoration:none;
border-bottom: 1px solid #2f0c0c;
  transition:background .3s;
  white-space:nowrap;
}


ul.custum-dd ul.submenu li a:hover{
  background:rgba(0,0,0,.3);
}

/* kp 25/3/19 */
.filter-btn-section .realEsatatebtn {
  margin: 0;
  padding: 2px 23px;
  font-family: 'Lato-Black';
  color: #FFF;
  font-size: 13px;
  box-shadow: 9px 1px 25px -6px #a7a7a7;
}
.filter-btn-section .filter {
  margin: 0;
  padding: 2px 23px;
  font-family: 'Lato-Black';
  color: #4c4c4c;
  font-size: 13px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  border-radius: 50px;
  background: #acacac;
  margin-left: 15px;
  box-shadow: 9px 1px 25px -6px #a7a7a7;
}
.shoping-section {
  padding-top: 20px;
}
.shoping-section h3 {
  color: #333333;
  font-size: 20px;
  font-family: 'Lato-Black';
  text-transform: capitalize;
}
.shoping-center-scection {
  background: #ebebeb;
  width: 100%;
  border-radius: 15px;
  padding: 30px;
  min-height: 275px;
}
.shoping-center-scection .shoping-logo {
  width: 143px;
  height: 53px;
}
.shoping-center-scection h3 {
  color: #c8352c;
  font-family: 'Lato-Black';
  text-transform: capitalize;
  font-size: 20px;
  padding: 20px 0px 10px;
  margin: 0;
   overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
    line-height: 30px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.fa-icon {
  font-size: 16px !important;
  line-height: 22px !important;
  color: #c8352c;
  margin-right: 10px;
}
.shoping-center-scection p {
  margin: 0;
  padding: 0;
    overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
}
.shoping-center-scection .fitness-logo {
  width: 185px;
  height: 53px;
}
/*Location page End*/

.top-bottom {
  padding: 20px 0 50px;
}
.marbtm50 {
  margin-bottom: 50px;
}
.news_event {
  border-radius: 20px !important;
}
.Featured_Event {
  background-color: #ececec;
  padding: 50px 0 0;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 2px 3px 1px #c1c1c1;
}
.Featured_Event img {
  border-radius: 17px;
}
.Featured_Event h5 {
  font-size: 22px;
  font-family: 'Lato-Black';
  color: #353535;
}
.event_all_details span {
  color: #ca3426;
  font-family: 'Lato-Black';
  font-size: 17px;
}
.event_all_details p {
  font-size: 16px;
  margin-bottom: 7px;
  color: #343434;
}
.event_all_details {
  margin: 15px 0;
}
.event_details .btn-danger.realEsatatebtn {
  margin-top: 10px;
  box-shadow: 0px 0px 13px -2px #353535;
}
.btn-danger.realEsatatebtn.newsall {
  margin-top: 20px;
}
.social-section.social ul { margin: 0; }
.dateandtime p { position: relative;
bottom: 25px;
 }
/*News & event*/

/*News & event End*/
.pad40 {
  padding: 40px 0;
}
.pad180 {
  padding: 180px 0;
}
/*question*/
.question_realEstate {
  background-color: #c8352b;
  box-shadow: 0px 0px 9px -1px #4e4e4e;
  border-radius: 10px;
}
.question_realEstate img {
  border-radius: 0px 10px 10px 0;
}
.questionsection {
  padding: 30px 142px 0 95px;
  color: #fff;
  height: 100%;
}
.questionsection h6 {
  font-size: 3em;
  color: #fff;
  font-family: 'Lato-Bold';
}
.btn-danger.realEsatatebtn.question {
  background-color: #fff;
  color: #c8352c;
  box-shadow: 1px 1px 11px -1px #383838;
}
.newsevents_main {
  border-left: 4px solid #c8352c;
  padding: 40px 88px;
}
.newsevents_main h5 {
  font-size: 26px;
  color: #414042;
}
.blogpart h6 {
  font-size: 25px;
  color: #414042;
  margin-bottom: 20px;
}
.blogpart {
  margin-top: 40px;
}
.blogpart span {
  margin-top: 20px;
  display: block;
  margin-bottom: 45px;
}
.testimonial {
  background-color: #f2f2f2;
  padding: 45px 113px;
  position: relative;
  margin-top: 45px;
}
.testimonial p {
  color: #0d0d0d;
  text-align: center;
}
.testimonial p:before {
  content: "\f10d";
  font-family: 'Fontawesome';
  float: left;
  margin-right: 10px;
  position: absolute;
  left: 40px;
  top: 40%;
  color: #c8352c;
  font-size: 27px;
}
.testimonial p:after {
  content: "\f10d";
  font-family: 'Fontawesome';
  float: right;
  margin-right: 10px;
  position: absolute;
  right: 40px;
  top: 40%;
  color: #c8352c;
  font-size: 27px;
}
.name_testimonial {
  text-align: center;
  color: #414042;
  display: block;
  font-family: 'Lato-Bold';
  font-size: 15px;
}
.social-section.footer_social {
  margin-top: 40px;
}
.all_detailsfooter {
  margin-top: 45px;
}
/*newevents end*/
.contact_social {
  margin-top: 6px;
}
/*switch*/
.switch-field {
  left: 12px;
  float: left;
  position: relative;
}
.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}
/*Kp*/
.switch-field input:checked+label, .switch-field a.active, .lh-header nav .switch-field a.active {
  background-color: #FFF;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #ac1a2f;
  text-decoration: underline;
}
.navbar-nav a{
  font-size: 14px;
}
/*kp*/
.switch-field label:first-of-type {
  border-radius: 11px 0 0 11px;
}
/* .switch-field label {
    display: inline-block;
    background: transparent;
    color: #000;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 3px 5px 4px;
    border: 1px solid #FFF;
}

.switch-field label {
    float: left;
} */
.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}
.switch-field label:last-of-type {
  border-radius: 0 11px 11px 0;
}

/*kp*/


.switch-field label, .switch-field a {
  display: inline-block;
  background: transparent;
  font-family: 'Lato-Bold';
  font-size: 11px;
  color: #000;
  text-align: center;
  text-shadow: none;
  padding: 3px 5px 4px;
  margin-bottom: 0;
}

/*kp*/


.switch-field label {
  cursor: pointer;
}
.contact-button span {
  display: inline-block;
}
/*contact us*/

.contact-banner p {
  font-family: 'Lato-Regular';
  color: #FFF;
  text-transform: capitalize;
  font-size: 14px;
  padding: 4px 0;
  line-height: 1.5;
  max-width: 520px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.contact-banner h2 {
  color: #FFF;
  font-size: 45px;
  text-transform: capitalize;
}
.pad35 {
  padding: 35px 0;
}
.get-in-touch h2 {
  font-family: 'Lato-Black';
  color: #252525;
  text-transform: capitalize;
  font-size: 40px;
}
.get-in-touch p {
  font-family: 'Lato-Regular';
  color: #252525;
  text-transform: capitalize;
  font-size: 14px;
  padding: 14px 0;
  line-height: 1.5;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.contacting-section {
  padding: 30px;
  background: #c8352c;
  border-radius: 15px;
}
.contacting-section .form-control { border: transparent; }
.contacting-section h3 {
  font-family: 'Lato-Black';
  color: #fff;
  text-transform: capitalize;
  font-size: 25px;
}
.contacting-section p {
  font-family: 'Lato-Regular';
  color: #FFF;
  text-transform: capitalize;
  font-size: 14px;
  padding: 4px 0;
  line-height: 1.5;
  max-width: 450px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.botton-section {
  padding: 20px 0;
}
.contact-btn {
  font-family: 'Lato-Black';
  text-transform: capitalize;
  color: #c8352c;
  background: #fff;
  border: none;
  padding: 5px 35px;
  border-radius: 15px;
  font-size: 18px;
  outline: none;
}
button:focus {
  outline: unset !important;
  outline: unset !important;
}
.form-section {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}
.form-section label {
  float: left;
  color: #FFF;
  font-size: 13px;
  font-family: 'Lato-Bold';
  text-transform: capitalize;
}
.close-btn i {
  background: #FFF;
  color: #c8352c;
  font-size: 15px;
  width: 15px;
  cursor: pointer;
}
/*end*/

/*get-in-touch*/


.pad40 {
  padding: 40px 0;
}
.pad180 {
  padding: 180px 0;
}
/*question*/
.question_realEstate {
  background-color: #c8352b;
  box-shadow: 0px 0px 9px -1px #4e4e4e;
  border-radius: 10px;
}
.question_realEstate img {
  border-radius: 0px 10px 10px 0;
}
.questionsection {
  padding: 30px 142px 0 95px;
  color: #fff;
  height: 100%;
}
.questionsection h6 {
  font-size: 3em;
  color: #fff;
  font-family: 'Lato-Bold';
}
.btn-danger.realEsatatebtn.question {
  background-color: #fff;
  color: #c8352c;
  box-shadow: 1px 1px 11px -1px #383838;
}
.contact_social {
  margin-top: 6px;
}
/*end*/
/*pagination*/
.pagination-wrapper{ margin:0 auto; text-align: center;}
.pagination {
  display: block !important;
}

.pagination a {
  color: black;
      padding: 1px 2px;
    margin-left: 15px;
    text-decoration: none !important;
      font-family: 'Lato-Bold';
    border-bottom: 3px solid transparent;


}
.pagination a:hover {
 border-bottom: 3px solid #c8352b;
  color: #000;
  
}
.pagination a.active {
 border-bottom: 3px solid #c8352b;
  color: #000;
  
}
 .pagination a:first-child{  border-bottom: 3px solid transparent; font-weight: bold; color:#c8352b; }
 .pagination a:last-child{  border-bottom: 3px solid transparent; font-weight: bold; color:#c8352b; }
.empty-section{
     background:#ac1a2f;
}
.empty-section h3{
  
    color: #fff;
    font-size: 30px;
    font-family: 'Lato-Black';

}
.empty-section p{
color: #fff;
 overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}
.pd-80 {
    padding: 80px 0 80px;
}
.event_details p{
  overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}
.retail { right: 17px; }
.pagination.news_eventlistpagination { padding: 45px 0; }
/*pagination*/