body{
	margin:0;
	padding:0;
	font-size:14px !important;
  font-family: 'Lato-Regular'!important;
}
/*common css properties*/
.btn.focus, .btn:focus { box-shadow:none !important; }
.form-control:focus{
	box-shadow: none !important;
 border: none; outline: none !important}
li { list-style: none;}
ul { margin: 0; padding: 0; }
a{
	color:#5e5e5e;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition:all 0.3s ease 0.1s;
	-moz-transition:all 0.3s ease 0.1s;
	-ms-transition:all 0.3s ease 0.1s;
	-o-transition:all 0.3s ease 0.1s;
	transition:all 0.3s ease 0.1s;
}
img {
	max-width: 100%;	
}
h1, h2, h3, h4, h5, h6 { 
  font-family: 'Lato-Black';
}

.btn-danger.realEsatatebtn {
	border-radius: 50px;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
    padding: 9px 38px;
    margin-top: 30px;
    text-transform: uppercase;
    font-family: 'Lato-Bold';
    letter-spacing: 0.5px;
    font-size: 17px;	
}
/*common css properties*/
header .topbanner {
	background-image: url(../images/top_banner/topbanner.jpg);
	height: 100vh;
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
      background-repeat: no-repeat;
	background-position: center center;
}
.newlatterreal {

background-image: url(../images/newsletter.jpg);
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
 background-repeat: no-repeat;
 background-position: center center;
}
.pad130 { padding: 130px 0; }
.newlatterreal h3 { 
	color: #fff;
	font-size: 40px;
	   font-family: 'Lato-Black';
 }
 .newlatterreal p {
 	color: #fff;
 font-family: 'Lato-Regular';
 	font-size: 17px;
 }
.newlatterreal .form-control{
     padding: 23px 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 2px 16px 0px #00000073 !important;
   	margin-top: 30px;
 }





/*Location page*/

/*Location-first section*/


.town-center{
	    padding: 40px 0;
}

.town-center-scection{
background:#ebebeb;
width: 100%;
border-radius:15px;
padding: 45px;
min-height: 365px;
    box-shadow:8px 4px 11px -2px #a7a7a7;
}
.town-center-scection h3{
     font-family: 'Lato-Heavy';
    font-size: 35px;
    max-width: 234px;
    width: 100%;
    text-transform: capitalize;
    color: #000000cc;
}
.town-center-scection p{
	line-height: 19px;
    font-size: 15px;
     color: #000000ab;
    font-family: 'Lato-Regular';

}


.location-direction {
background:#c8352c;
width: 100%;
border-radius:15px;
padding: 45px;
 min-height: 365px;
    box-shadow: 8px 4px 11px -2px #a7a7a7;
}


.location-direction h3{
     font-family: 'Lato-Heavy';
    font-size: 35px;
    max-width: 271px;
    width: 100%;
    text-transform: capitalize;
    color: #FFF;
}
.location-direction h5{
       font-family: 'Lato-Black';
    font-size: 13px;
     width: 100%;
    text-transform: capitalize;
    color: #FFF;
        padding: 0;
    margin: 0;
}
.address-section{
	      padding-top: 40px;
}
.location-drive{
padding: 20px 0 0 0;
margin: 0;
}
.location-drive h3{
	   font-family: 'Lato-Heavy';
    font-size: 13px;
       width: 100%;
    text-transform: capitalize;
    color: #FFF;
}
.location-direction p{
       font-family: 'Lato-Black';
    font-size: 12px;
     width: 100%;
    text-transform: capitalize;
    color: #FFF;
    padding: 0;
    margin: 0;
}
.contact-scection
 {
background:#ebebeb;
height: 200px;
width: 100%;
border-radius:15px;
padding: 45px;
    min-height: 365px;
    box-shadow: 8px 0px 11px -2px #a7a7a7;
}

.contact-scection h3{
     font-family: 'Lato-Heavy';
    font-size: 35px;
    max-width: 271px;
    width: 100%;
    text-transform: capitalize;
    color: #000000cc;
}

.contact-scection h5 {
 font-family: 'Lato-Black';
    font-size: 13px;
    width: 100%;
    text-transform: capitalize;
    color: #000000cc;
    padding: 0;
    margin: 0;
}

.contact-scection p{
      font-family: 'Lato-Black';
    font-size: 12px;
     width: 100%;
    text-transform: capitalize;
    color: #000000cc;
    padding: 0;
    margin: 0;
}
.retail-section{
	padding-top: 20px;
}

.socail-section{
padding-top: 10px;
}

.socail-section ul li {
  display:inline;
  padding: 0 15px 0 0;
}

.socail-section ul li a{
	    color: #c8352c !important;
    text-decoration: none;
    font-size: 25px;
}
.fa-rotate-263 {
    -ms-transform:rotate(263deg);     /* Internet Explorer 9 */
    -webkit-transform:rotate(263deg); /* Chrome, Safari, Opera */
    transform:rotate(263deg); 
        color: #c8352c;
    margin-right: 10px;        /* Standard syntax */
        font-size: 20px !important;
    line-height: 33px !important;
}

/*Location-first section End*/


/*Location-second section */
.location-banner-section{

background-image: url(../images/banner.jpg);
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
 background-repeat: no-repeat;

}

.location-banner-section h2{
	color: #fff;
	font-size:30px;
	font-family: 'Lato-Black';

}

.location-banner-section p{
	color: #fff;
	font-size: 14px;
	font-family: 'Lato';

}
.store-location_section{
	padding-top: 20px;
}
.location_section h1 {
 font-size:30px;
 color: #242424;
  font-family: 'Lato-Black';

  }
  .location_section p {
    width: 45%;
    margin-top: 10px;
    color: #1e1e1e;
    font-size: 17px;
    font-family: 'Lato-Regular';
   }
   .location_section { margin-bottom: 20px; }
 .borderbtm {
  height: 3px;
background: #d4352f;
display: block;
width: 58px;
   } 

.text-spn{
	    font-family: 'Lato-Bold';
    color: #c8352c;
    font-size: 18px;
}
.filter-section{padding-top: 20px;}

.filter-section h3{
	color: #333333;
	font-family: 30px;
	 font-family: 'Lato-Black';
	  text-transform: capitalize;
}


.filter-section small{
	color: #333333;
	font-size:  10px;
		  text-transform: capitalize;
	      margin-left: 12px;
         font-family: 'Lato-Regular';
}
.filter-btn-section{
padding: 10px 0;


}
.filter-btn-section .realEsatatebtn{
margin:0;
padding: 2px 23px;
font-family: 'Lato-Black';
 color: #FFF;
 font-size: 13px;
 box-shadow: 9px 1px 25px -6px #a7a7a7;
}

.filter-btn-section .filter{
margin:0;
padding: 2px 23px;
font-family: 'Lato-Black';
color: #4c4c4c;
font-size: 13px;
letter-spacing: 0.5px;
text-transform: capitalize;
border-radius: 50px;
background:#acacac;
margin-left: 15px;
box-shadow: 9px 1px 25px -6px #a7a7a7;

}
.shoping-section{padding-top: 20px;}
.shoping-section h3{
	color: #333333;
	font-size:20px;
font-family: 'Lato-Black';
	  text-transform: capitalize;
}
.shoping-center-scection{	
background: #ebebeb;
    width: 100%;
    border-radius: 15px;
    padding: 30px;
    min-height: 255px;
}

.shoping-center-scection .shoping-logo{
   width: 143px;
    height: 53px;}

 .shoping-center-scection h3{
  	    color: #c8352c;
    font-family: 'Lato-Black';
    text-transform: capitalize;
    font-size: 20px;
   padding: 20px 0px 10px;
    margin: 0;
  }

 .shoping-center-scection .offer-btn{

    padding: 5px 23px;
   font-family: 'Lato-Black';
    color: #FFF;
    font-size: 10px;
    box-shadow: 9px 1px 25px -6px #a7a7a7;
    border-radius: 50px;
    color: #fff;
    background-color: #bd2130;
    border: solid 1px #b21f2d;
    text-transform: uppercase;
    letter-spacing: 1px;
 }
 .mb-20{
 	    margin-bottom: 20px;
 }
  .mt-20{
 	    margin-top: 20px;
 }
 .fa-icon {
        font-size: 16px !important;
    line-height: 22px !important;
        color: #c8352c;
    margin-right: 10px;
}
.shoping-center-scection p{
	margin: 0;
	padding: 0;
}

.shoping-center-scection .fitness-logo {
    width: 185px;
    height: 53px;
}
/*Location page End*/
 a{
  color: #FFF !important;
  text-decoration: none !important;

}
.top-bottom{
  padding: 20px 0 50px;
}

.marbtm50 {
    margin-bottom: 50px;
}
.news_event { margin:0 20px 20px;
  border-radius: 20px !important;
         }
 .news_event-btn {
    padding: 5px 23px;
    font-family: 'Lato-Black';
    color: #FFF;
    font-size: 10px;
    box-shadow: 9px 1px 25px -6px #a7a7a7;
    border-radius: 50px;
    color: #fff;
    background-color: #bd2130;
    border: solid 1px #b21f2d;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.Featured_Event { 
background-color: #ececec;
    padding: 50px 0;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 2px 3px 1px #c1c1c1;
}
.Featured_Event img { border-radius: 17px; }
.Featured_Event h5 {
  font-size: 22px;
       font-family: 'Lato-Black';
  color: #353535;
}
.event_all_details span {
  color: #ca3426;
   font-family: 'Lato-Black';
  font-size: 17px;
}
.event_all_details p {
  font-size: 16px;
  margin-bottom: 7px;
  color: #343434;
}
.event_all_details {
margin: 15px 0;
}
.event_details .btn-danger.realEsatatebtn {
margin-top: 10px;
box-shadow: 0px 0px 13px -2px #353535;  
}
.btn-danger.realEsatatebtn.newsall { margin-top: 20px; }
/*News & event*/

/*News & event End*/



.pad40 {
    padding: 40px 0;
}
/*question*/
.question_realEstate{
background-color: #c8352b;
box-shadow: 0px 0px 9px -1px #4e4e4e;
border-radius: 10px;
}
.question_realEstate img {
 border-radius: 0px 10px 10px 0;
}
.questionsection {
	   padding: 30px 142px 0 95px;
	   color: #fff;
	   height: 100%;
}
.questionsection h6 {
	font-size: 3em;
	color: #fff;
	   font-family: 'Lato-Bold';
}
.btn-danger.realEsatatebtn.question{
 background-color: #fff;
    color: #c8352c;
    box-shadow: 1px 1px 11px -1px #383838;
}

/*footer*/
.footer-copyright {
    background-color: #c8352c;
    padding-top: 3px;
    padding-bottom: 3px; 

}
.myfooter .navbar-brand {
    height: 80px;
}

.footer-copyright {
    color: #fff;
    float: left;
    width: 100%;
    min-height: 80px;
    line-height: 80px;
    font-family: 'Lato-bold';
    font-size: 16px; 
}
.copy-text span{
    font-family: 'Lato-regular';
    font-size: 18px;
}
.tnc-text, .copy-text{
    float: left;
    }
    .tnc-text span{
        margin: 0 15px;
    }

.footerrealsatate { 
  border-top: 1px solid #c8352c;
  padding: 40px 0;
   }
   .social-section{
padding-top: 10px;
}

.social-section ul li {
  display:inline;
  padding: 0 15px 0 0;
}

.social-section ul li a{
      color: #c8352c;
    text-decoration: none;
    font-size: 25px;
}
.footerrealsatate .social-section ul li a {
      font-size: 30px;
    margin-right: 38px;
}
.footerrealsatate .social-section ul li { padding: 0; }
.footerrealsatate .footerdetails li a {
    font-size: 17px;
    color: #424242;
    text-decoration: none;
    display: block;
    line-height: 23px
  }
  .footerrealsatate h6 {
    color: #c8352c;
    font-size: 21px;
    font-family: 'Lato-Black';
    text-transform: uppercase;
  }
  .footerdetails {margin-top: 20px;}